<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<system.serviceModel>
				<bindings>
						<netTcpBinding>
								<binding name="NetTcpBinding_ISliceOfPieService" closeTimeout="00:01:00"
                        openTimeout="00:01:00" receiveTimeout="00:02:00" sendTimeout="00:01:00"
										    maxBufferPoolSize="0"
                        hostNameComparisonMode="StrongWildcard"
                        maxBufferSize="104857600"
                        maxConnections="20971520"
                        maxReceivedMessageSize="104857600"
                        transferMode="Buffered" 
                        transactionProtocol="OleTransactions"
                        transactionFlow="false"
                        listenBacklog="20971520">
                  <readerQuotas maxDepth="32" 
                                maxStringContentLength="2147483646" 
                                maxArrayLength="2147483646" 
                                maxBytesPerRead="32768" 
                                maxNameTableCharCount="5242880" />
                  <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                  <security mode="Transport">
                    <transport clientCredentialType="Windows" />
                  </security>
								</binding>
						</netTcpBinding>
				</bindings>
				<client>
						<endpoint address="net.tcp://localhost:8733/" binding="netTcpBinding"
								bindingConfiguration="NetTcpBinding_ISliceOfPieService" contract="Service.ISliceOfPieService"
								name="NetTcpBinding_ISliceOfPieService">
						</endpoint>
				</client>
		</system.serviceModel>
</configuration>