<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<system.serviceModel>
				<bindings>
						<netTcpBinding>
								<binding name="NetTcpBinding_ISliceOfPieService" closeTimeout="00:01:00"
										maxBufferPoolSize="2147483647"
                     maxBufferSize="2147483647"
                     maxConnections="2147483647"
                     maxReceivedMessageSize="2147483647"
                     portSharingEnabled="false"
                     transactionFlow="false"
                     listenBacklog="2147483647">
									<security mode="None">
									<message clientCredentialType="None"/>
									<transport protectionLevel="None" clientCredentialType="None"/>
									
									</security>
									<reliableSession enabled="false"/>
								</binding>
						</netTcpBinding>
				</bindings>
				<client>
						<endpoint address="net.tcp://localhost:8733/" binding="netTcpBinding"
								bindingConfiguration="NetTcpBinding_ISliceOfPieService" contract="Service.ISliceOfPieService"
								name="NetTcpBinding_ISliceOfPieService">
								<identity>
										<userPrincipalName value="KASRA-LAPTOP\DE" />
								</identity>
						</endpoint>
				</client>
		</system.serviceModel>
</configuration>